/* Set height of body and the document to 100% to enable "full page tabs" */
body, html {
  height: 100%;
  margin: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a {
  color: blue;
  cursor: pointer;
}

a:active {
  color: #FF7900;
}

button {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#nav-pan {
  position: fixed; 
  width: 100%; 
  z-index: 2;
}

#logo-icon {
  width: 50px;
  height: 50px;
  position: absolute;
  display: block;
}

#welcome-message #head {
  display: flex;
  align-items: center;
}

.slide-img {
  width: 100%;
  height: 1000px;
  margin: 30px 0;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
}

.fade {
  animation-name: fade;
  animation-duration: 2.5s;
}

.blink {
  animation-name: blink;
  animation-duration: 2.5s;
  animation-iteration-count: 5;
}

@keyframes fade {
  from {opacity: 0.4;} to {opacity: 1;}
}

@keyframes blink {
  0%, 50%, 100% {
    opacity: 1;
  }
  25%, 75% {
    opacity: 0;
  }
}

li {
  margin: 10px;
}

/* Style tab links */
.tablink {
  background-color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 33.3333%;
}

.tablink:hover {
  background-color: lavender;
}

.tablink:active {
  opacity: 0.5;
}

  /* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  position: relative;
  display: none;
  padding: 100px 20px;
  height: 100%;
}

.data-upload-step {
  width: 20%;
  height: 300px;
  position: relative;
  overflow: hidden;
  background-color: #FF7900;
  border: 3px solid #FF7900;
  border-radius: 10px;
  float: left;
  margin: 10px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
}

.data-upload-step-major {
  width: 100%;
  height: 80%;
}

.data-upload-step-minor h4 {
  color: white;
  text-align: center;
  padding: 0 10px;
}

.data-upload-step img {
  width: 100%;
  height: 100%;
}

.steps-container {
  width: 70%;
  height: 350px;
  margin: auto;
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
}

.steps {
  width: 70%;
  height: 10px;
  display: flex;
  position: relative;
  margin: auto;
  background-color: lavender;
}

.step {
  display: flex;
  position: absolute;
  top: 50%;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  color: white;
  background-color: green;
  opacity: 0.5;
  border-radius: 30px;
}

#main-step {
  background-color: #FF7900;
  height: 60px;
  width: 60px;
  opacity: 0.9;
}

.detail-steps-container {
  width: 90%;
  height: 50px;
  margin: auto;
  position: relative;
  padding: 30px;
}

.detail-step {
  width: 25%;
  height: 100px;
  position: absolute;
  text-align: center;
}

.button {
  border: none;
  border-radius: 5px;
  color: white;
  background-color: #FF7900;
  padding: 10px;
}

.button:hover {opacity: 0.7;}
.button:active {opacity: 1;}

/* Simulation */
.sim {
  text-decoration: none;
  font-size: large;
  font-weight: bold;
}

.sim:active {color: #FF7900;}

.sim-menu {
  cursor: pointer;
  position: absolute;
  font-size: small;
  display: none;
  margin: 10px 50px;
}

.sim-menu a {
  text-decoration: none;
}

#sim-form {
  display: none;
  position: absolute;
  border: 1px solid #FF7900;
  background-color: #FF7900;
  overflow: hidden;
  width: 25%;
  height: 300px;
  margin: 20px;
  border-radius: 15px;
  z-index: 1;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
}

.form-head {
  height: 20%;
  display: flex;
  background-color: #FF7900;
  color: white;
  justify-content: center;
  align-items: center;
}

.form-body {
  padding: 15px;
  height: 80%;
  background-color: white;
}

.leak-location, .leak-size {
  color: red;
  font-size: 25px;
  font-weight: bolder;
  text-align: center;
}

.leak-display {
  position: relative; 
  width: 45%; 
  float: left; 
  margin: 2%;
}

.leak-display img {
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
}

.footer {
  width: 100%;
  margin-top: 100px;
  border-top: 1px solid #FF7900;
}


.leak-display-label {
  font-style: italic;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 100%);
}

.sim-page-head {
  position: relative;
  width: 100%;
  height: 500px;
  overflow: hidden;
  border-radius: 15px;
  background-color: #FF7900;
  color: white;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
}

.sim-page-head .img-container {
  position: relative;
  width: 48%;
  height: 84%;
  left: 0;
  top: 0;
  float: left;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
}

.sim-page-head img {
  width: 100%;
  height: 100%;
}

.sim-page-head #header-message {
  position: absolute;
  display: flex;
  right: 0;
  top: 0;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100%;
  text-align: center;
}

.sim-page-head .img-text {
  color: white;
  position: absolute;
  left: 0;
  bottom: 0;
  font-weight: bolder;
  transform: translateX(15%);
}